<ion-header>
  <ion-toolbar>
    <ion-title>
      &lt;<span>/</span> Pedro Candia &gt;
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="toSeccion('home')">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="toSeccion('skills')">
        <ion-icon name="briefcase-outline"></ion-icon>
      </ion-button>
      <ion-toggle (ionChange)="toggleTheme($event)" [(ngModel)]="toggleDarkMode"></ion-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="home">
    <div id="home-content">
      <ion-text id="title">Pedro Candia Vazquez</ion-text>
      <ion-text id="subtitle">Desarrollador <span>web</span></ion-text>
    </div>
  </div>
  
  <div id="skills">
    <div id="skills-content">
      <div id="content-technologies">
        <ion-text>Tecnologias</ion-text>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-label>HTML</ion-label>
                <ion-label>CSS</ion-label>
              </ion-col>
              <ion-col>
                <ion-label>JavaScript</ion-label>
                <ion-label>Angular</ion-label>
              </ion-col>
              <ion-col>
                <ion-label>Ionic</ion-label>
                <ion-label>Git</ion-label>      
              </ion-col>
              <ion-col>
                <ion-label>Node JS</ion-label>
                <ion-label>Firebase</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
