ion-header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  

  ion-toolbar{
    padding: 0 5em;
  }

  #contact{
    color: #ED5EDD;
  }
}

#home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;

  #home-content{
    display: grid;
    color: black;

    #title{
      font-size: 4em;
      font-family: 'Chakra Petch', sans-serif;
    }

    #subtitle{
      font-size: 2em;
      font-family: 'Chakra Petch', sans-serif;
      color: #838383;
    }
  }
}

span {
  color: #ED5EDD;
}

#skills{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
 
  #skills-content{
    width: 65%;
    font-size: 2em;
    font-family: 'Chakra Petch', sans-serif;

    ion-grid{
      ion-row{
        ion-col{
          display: grid;

          ion-label{
            font-family: 'Chakra Petch', sans-serif;
            color: #838383;
          }
        }
      }
    }

    #content-frontend{
      text-align: center;
    }
    
    #content-backend{
      text-align: center;
    }
  }
}
