ion-header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  

  ion-toolbar{
    padding: 0 5em;
  }
}

#home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  #home-content{
    display: grid;

    #title{
      font-size: 4em;
      font-family: 'Chakra Petch', sans-serif;
    }

    #subtitle{
      font-size: 2em;
      font-family: 'Chakra Petch', sans-serif;
      color: #838383;
    }
  }
}

span {
  color: var(--ion-color-pink);
}

#skills{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
 
  #skills-content{
    width: 80%;
    font-size: 2em;
    font-family: 'Chakra Petch', sans-serif;

    ion-grid{
      ion-row{
        ion-col{
          display: flex; 
          justify-content: center; 
          align-items: center;
          min-width: 13rem;

          ion-label{
            font-family: 'Chakra Petch', sans-serif;
            color: #838383;
          }
        }
      }
    }

    #technologies-content{
      text-align: center;
    }
  }
}

ion-toggle {
  --background-checked: var(--ion-color-pink);
  --handle-background-checked: var(--ion-color-pink-shade);
}

#tech-content {
  display: flex; 
  justify-content: center; 
  align-items: center;
  width: 70%;

  #img-content {
    width:10%; 
    display: flex; 
    justify-content: center; 
    align-items: center;

    ion-img {
      width: 28px; 
      height: 28px
    }
  }
}