<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      &lt;<span>/</span> Pedro Candia &gt;
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="toSeccion('home')">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="toSeccion('skills')">
        <ion-icon name="briefcase-outline"></ion-icon>
      </ion-button>
      <ion-toggle (ionChange)="toggleTheme($event)" [(ngModel)]="toggleDarkMode"></ion-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div id="home-section">
    <div id="toolbar">
      <div id="toolbar-content">
        <div id="toolbar-button" (click)="toSeccion('home')">
          <ion-text>Sobre mí</ion-text>
        </div>
        <div id="toolbar-button" (click)="toSeccion('skills')">
          <ion-text>Portafolio</ion-text>
        </div>
        <div id="toolbar-button">
          <ion-text>Contacto</ion-text>
        </div>
        <div class="toolbar-button-tema">
          <ion-text>Tema</ion-text> 
          <ion-toggle (ionChange)="toggleTheme($event)" [(ngModel)]="toggleDarkMode"></ion-toggle>
        </div>
      </div>
    </div>
    <div id="home">
      <div id="home-content">
        <ion-text id="title">Pedro Candia</ion-text>
        <ion-text id="subtitle">Desarrollador <span>web</span></ion-text>
      </div>
    </div>
  </div>
  
  <div id="skills">
    <div id="skills-content">
      <div id="technologies-content">
        <ion-text>Tecnologias</ion-text>
          <ion-grid>
            <ion-row>
              <ion-col *ngFor="let technologie of technologies1">
                <div id="tech-content">
                  <div id="img-content">
                    <ion-img src="{{technologie.srcImg}}"></ion-img>
                  </div>
                  <ion-label style="width:90%">
                    {{technologie.attribute}}
                  </ion-label>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col *ngFor="let technologie of technologies2">
                <div id="tech-content">
                  <div id="img-content">
                    <ion-img src="{{technologie.srcImg}}"></ion-img>
                  </div>
                  <ion-label style="width:90%">
                    {{technologie.attribute}}
                  </ion-label>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
